// app global css in SCSS form
@font-face {
  font-family: nunitoLight;
  font-weight: 300;
  src: url(./fonts/NunitoSans-Light.ttf);
}

@font-face {
  font-family: nunitoBold;
  font-weight: 600;
  src: url(./fonts/NunitoSans-SemiBold.ttf);
}

@font-face {
  font-family: nunitoBolder;
  font-weight: 800;
  src: url(./fonts/NunitoSans-ExtraBold.ttf);
}

// declare a class which applies it
.text-normal {
  font-family: 'nunitoLight';
}

.text-bold {
  font-family: 'nunitoBold';
}

.text-bolder {
  font-family: 'nunitoBolder';
}